<div class="jumbotron text-center">
<div class="container">
<h1 class="lead">Thank you for your vote!</h1>
<div class="alert alert-success">You have selected <strong>"<%= option %>"</strong> with rank <strong><%= rank %></strong>.</div>
<hr/>
<a href="#" class="btn btn-primary btn-lg">I want to vote again</a>
</div>
</div>
